<!DOCTYPE html>
<html>
<% include partials/header %>

  <body>
    <div id="blogBody">
      <div id="headerUnderNav">ABOUT ME</div>
      <br>
      <p class="bodyText">My name is Aaron Canty, and I am a 2nd year student in Munster Technological University. As
        part of the server-side web development module, I received a brief to make a blog from scratch.<br><br>This is a
        locally hosted blog on a webserver powered by Node.js, Express, and MongoDB.
      </p>
    </div>
  </body>

</html>