<!DOCTYPE html>
<html>
<% include partials/header %>

  <body>
    <div id="blogBody">
      <div id="headerUnderNav">ABOUT ME</div>
      <br>
      <p class="bodyText">My name is Aaron Canty, and I am a graduate student in Munster Technological University, with a BSc in Software Development. As
        part of the server-side web development module in my course, I received a brief to make a blog from scratch.<br><br>This is a
        locally hosted blog on a webserver powered by Vanilla JavaScript, ExpressJS, and MongoDB.
      </p>
    </div>
  </body>

</html>