<!DOCTYPE html>
<html>
<% include partials/header %>

<body>
  <div class="blogBody">
    <div class="headerUnderNav">AARON'S BLOG</div>
    <!-- Remove the table structure, as it's not necessary for your new format -->
    <!-- Loop through the bloglist array -->
    <% for (var i = 0; i < bloglist.length; i++) { %>
    <article class="blogPost">
      <p class="blogTitle"><%= bloglist[i].blogtitle %></p>
      <div class="blogEntry">
        <%= bloglist[i].blogentry %>
      </div>
      <div class="editButtons">
        <form action="/editPost/edit/<%= bloglist[i]._id %>">
          <button type="submit" class="editButton">Edit</button>
        </form>
        <form action="/editPost/delete/<%= bloglist[i]._id %>" method="post">
          <button type="submit" class="editButton">Delete</button>
        </form>
      </div>
    </article>
    <% } %>
  </div>
</body>

</html>
