<!DOCTYPE html>
<html>
  <% include partials/header %>
<body>
<div id="blogBody">
  <div id="headerUnderNav">ADD A NEW BLOG POST</div>

  <form action="/blogcreate" method="post">
  <label>Title: </label>
  <input type="text" name="blogtitle">
  <label>Entry:</label>
  <textarea type="textarea" name="blogentry" rows="20" cols="80"></textarea>
  <br>
  <button>submit</button>
    </form>
  </div>
</body>
</div>
</html>