<!DOCTYPE html>
<html>
<% include partials/header %>

  <body>

    <div id="blogBody">
      <div id="headerUnderNav">HELP</div>
      <br>
      <p class="bodyText">Are you lost? You're not alone.. but I can't help with that unfortunately. <br><br>Need some
        assistance with this blog? <br><br>

        Please email me at <a href="mailto:aaron.canty@mycit.ie">aaron.canty@mycit.ie</a>and I'll get back to you
        asap!</a>
      </p>
    </div>
  </body>

</html>